singularity {
  enabled             = true
}

params {
  project             = false
  email               = false
  outdir              = 'analysis'
  
  publish_dir_mode    = 'copy'

  reference_genome    = 'mouse'

  // coverage files generated w/ bismark
  coverage_files      = null
  metadata            = null

  // variables for the experimental design
  generation          = null
  treatment           = null
  genomic_feature     = null

  // methylKit parameters
  diffmeth_test       = 'Chisq'   // options: F, Chisq, fast.fisher
  overdisp            = 'MN'      // options: MN, shrinkMN
  eff                 = 'mean'    // options: mean, predicted
  multiple_test_corr  = 'BH'      // options: SLIM, BH

  // cpgislands_GRCm39   = 'data/cpgislands_GRCm39.bed'
  // refseq_UCSC_GRCm39  = 'data/refseq_UCSC_GRCm39.bed'
  

}

profiles {
  local {
    process {
      executor        = 'local'
    }
  }
  uppmax {
    process {
      memory          = 8.GB
      time            = 8.h
      executor        = 'slurm'
      clusterOptions  = "-A ${params.project}"
      scratch         = true
    }
  }
}

includeConfig         'conf/modules/ensembl.config'

report {
  enabled             = true
  file                = "${params.outdir}/pipeline_reports/nf_report.html"
  overwrite           = true
}

trace {
  enabled             = true
  file                = "${params.outdir}/pipeline_reports/nf_trace.txt"
  overwrite           = true
}

manifest {
  name                = "Methylome analysis"
  description         = "..."
  author              = "Andrey"
  homePage            = "https://github.com/flerpan01"
  doi                 = "paper..."
  version             = "1.0"
  mainScript          = "main.nf"
}