singularity {
  enabled = true
}

params {
  project             = false
  email               = false
  outdir              = 'analysis'
  
  coveragefiles       = 'results/bismark/methylation_calls/methylation_coverage'
  metadata            = 'data/metadata.csv'
  ensembl_dataset     = 'data/ensembl-dataset.csv.gz' 
  cpgislands_GRCm39   = 'data/cpgislands_GRCm39.bed'
  refseq_UCSC_GRCm39  = 'data/refseq_UCSC_GRCm39.bed'
  
  // methylKit default parameters
  diffmeth_test       = 'Chisq'     // F, Chisq, fast.fisher
  overdisp            = 'MN'        // MN, shrinkMN
  eff                 = 'mean'      // mean, predicted
  multiple_test_corr  = 'BH'        // SLIM, BH
}

process {
  memory = 8.GB
  time = 8.h

  executor = 'slurm'
  clusterOptions = "-A ${params.project}"
  
  scratch = true
}

report {
  enabled   = true
  file      = "${params.outdir}/nf_report.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "${params.outdir}/nf_trace.txt"
  overwrite = true
}

manifest {
  name                = "RRBS DBP spleen analysis"
  description         = "..."
  author              = "Andrey Höglund"
  homePage            = "https://github.com/flerpan01"
  doi                 = "paper..."
  version             = "1.0"
  mainScript          = "main.nf"
}